<!--
  ~ Copyright (c) 2009-2013  David Soergel  <dev@davidsoergel.com>
  ~ Licensed under the Apache License, Version 2.0
  ~ http://www.apache.org/licenses/LICENSE-2.0
  -->


<suite name="dsutils" verbose="1" parallel="false" thread-count="1">

  <test name="dsutils" junit="false">
    <!--	<groups>
          <run>
            <exclude name="contract"/>
          </run>
        </groups>
      -->


    <classes>
      <class name="com.davidsoergel.trees.BasicPhylogenyNodeTest"/>
      <class name="com.davidsoergel.trees.BasicRootedPhylogenyTest"/>
      <class name="com.davidsoergel.trees.ImmutableSortedSetHierarchyNodeTest"/>
      <class name="com.davidsoergel.trees.ListHierarchyNodeTest"/>
      <class name="com.davidsoergel.trees.SetHierarchyNodeTest"/>
    </classes>
  </test>


</suite>
